extends base
block content
    if error 
        p=error
    form(method="POST")
        input(type="text", name="name", placeholder="Name", required,value=loggedInUser.name)
        input(type="email", name="email", placeholder="Email", required,value=loggedInUser.email)
        input(type="text", name="username", placeholder="Username", required,value=loggedInUser.username)
        input(type="text", name="location", placeholder="Location",value=loggedInUser.location) 
        input(type="submit", value="Update Profile")
