extends base

block content
    div#videoContainer(data-id=video._id)
        if isHeroku
            video(src=video.fileUrl)
        else 
            video(src=`/${video.fileUrl}`)
        div#videoControls.videoControls 
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time 
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",value=0,step=1,min=0)#timeline.videoControls__timeline
            div.videoControls__volume
                span#mute 
                    i.fas.fa-volume-up 
                input(type="range",value=0.5,step=0.1,min=0, max=1)#volume
            div 
                button#fullScreen
                    i.fas.fa-expand
    
    div.video__data
        h2.video__title=video.title
        div.data__box
            div
                p.video__owner Upload by 
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                p.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})

            if String(video.owner._id) === String(loggedInUser._id)
                div.video__btn-box
                    button.btn__edit 
                        a(href=`${video.id}/edit`).fas.fa-edit
                    button.btn__delete 
                        a(href=`${video.id}/delete`).fas.fa-trash
    div.video__comments-box
        h2 Comments
        if loggedIn         
            div.video__add-comments
                form.video__comment-form#commentForm
                    input(type="text" placeholder="Write a nice comment!")
                    button.fas.fa-arrow-right 
        div.video__comments
            ul 
                each comment in video.comments.reverse() 
                    li.video__comment(data-id=comment._id)
                        i.fas.fa-comment
                        span   #{comment.text}
                        if String(loggedInUser._id)===String(comment.owner._id) 
                            span#removeBtn.remove   ❌ 
                    
block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn 
        script(src="/static/js/commentSection.js")